@import '../variables.scss';
@import '../mixins.scss';

body {
    text-align: center;
    background-color: $light-gray;
    position: relative;
}

h1 {
    color: $dark-gray;
    margin: 1rem 0;
}

.center{
    display:flex; 
    justify-content:center;
    align-items:center;
    flex-direction: column;
}

.content_field {
    position: relative;
    border-bottom: 2px solid $medium-gray;
    width: 100%;
    margin-left: 12px;
}

input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    display: block;

    &:focus ~ label,
    &:valid ~ label {
        top: -5px;
        color: #1e90ff;
    }

    &:focus ~ .highlight::before,
    &:valid ~ .highlight::before {
        width: 100%;
    }
}

label {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 5px;
    color: $medium-gray;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.highlight::before {
    content:'';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #1e90ff;
}

.icon {
    scale: 1.5;
    margin-top: 12px;
    color: $medium-gray;
}

.eyecon {
    scale: 1.5;
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2; 
    color: $medium-gray;
}

.button_icon {
    scale: 1.5;
    margin-right: 8px;
}

.input_field {
    @include flex;
    margin-top: 35px;
}

.form_container {
    width: 100%;
}

.button_container {
    @include flex-col;
    height: 150px;
    width: 100%;
}

.flavor_container {
    @include flex;
    color: $medium-gray;
    justify-content: space-between;
}
