.search_bar {
    background-color: rgb(108, 122, 137);
    border-radius: 5px;
    width: 85vw;
    margin-top: 50px;
    padding: 0 15px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}