body {
  padding: 0 20%;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

.page {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
  width: 100%;
}